.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.serv ul li {
    list-style: none;
    flex: 0 0 33.333333%;
}

.game-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.search {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px;
    border-radius: 25px;
}

/* input {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
} */

.main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: rgb(37, 50, 78);
    font-family: Arial, Helvetica, sans-serif;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #3a434d;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 200px;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}

/* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}

.container:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .5s ease-out;
}