{% extends "layout.html" %}

{% block title %}
Add Game
{% endblock %}

{% block main %}
<div class="container-xl">
    <form class="form-looks" action="/game_added" method="post">
        <h4>Game: {{ game["name"] }}</h4>
        <h5>Released: {{ game["release_date"] }}</h5>

        <div class="game-info">
            <img class="container2" src="{{ game['box_art']}}" alt="{{ game['name'] }} box art">
            <div class="deck">{{ game["deck"] }}
                <div class="platforms">

                    {% for platform in game["platforms"] %}

                    <label for="{{ platform }}">{{ platform }}</label>
                    <input type="checkbox" value="{{ platform }}" name="mycheckbox" unchecked>

                    {% endfor %}
                </div>
                <input type="submit" value="Add game" />
            </div>

        </div>
        <input name="game" type="hidden" value="{{ game }}">


    </form>
</div>
{% endblock %}