{% extends "layout.html" %}

{% block title %}
Your database
{% endblock %}

{% block main %}


<div class="serv">
    <ul class="gamelist">
        {% for row in rows %}

        <form class="container" action="/game_info" method="post">
            <input name="id" type="hidden" value="{{ row }}">
            <input type="image" class="game-title" src="{{ row['box_art'] }}" alt="{{ row['name'] }} box art"
                value=" Look at game">
            <br>
            <h3 class="game-title"> {{ row["game_name"] }}</h3>
        </form>


        {% endfor %}
    </ul>

</div>




{% endblock %}