<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<ul class="navigation">
    {% if session["user_id"] %}
    <li><a href="/">Search</a></li>
    <li><a href="/game_database">My Game database</a></li>
    <li><a href="/logout">Log out</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    {% endif %}
</ul>

<body>
    {% block main %}{% endblock %}
</body>

</html>