{% extends "layout.html" %}

{% block title %}
Game to add
{% endblock %}

{% block main %}
{{ response }}
<div class="search">
    <form action="/search" method="get">
        <input autocomplete="off" name="search" placeholder="Search">
        <button type="submit">Submit</button>
</div>
</form>
<div class="main">

    <div class="serv">
        <ul>
            {% for res in response %}

            <form class="container" action="/add_game" method="post">
                <input name="id" type="hidden" value="{{ response[res['id']] }}">
                <input type="image" src="{{ res['box_art'] }}" alt="{{ res['name'] }} box art" value=" Add game">
                <br>
                <h3 class="game-title"> {{ res["name"] }}</h3>
            </form>


            {% endfor %}
        </ul>

    </div>
    {% endblock %}

    <!--<table>
    <thead>
        <tr>
            <th>Games!</th>
        </tr>
    </thead>
    <tbody>
        {% for res in response %}
        <tr>
            <td>{{ res["name"] }}</td>
            <td><img src="{{ res['box_art'] }}" alt="{{ res['name'] }} box art"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
->