{% extends "layout.html" %}

{% block title %}
Game to add
{% endblock %}

{% block main %}
<div class="search">
    <form action="/search" method="get">
        <input autocomplete="off" name="search" placeholder="Search">
        <button type="submit">Submit</button>
</div>
</form>
<div class="main">

    <div class="serv">
        <ul>
            {% for res in response %}
            <div class="container">
                <li><img src="{{ res['box_art'] }}" alt="{{ res['name'] }} box art" class="image">
                    <div class="overlay">
                        <a href="#" class="icon" title="User Profile">
                            <i class="fa fa-user"></i>
                        </a> <br> {{ res["name"] }}
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>

    </div>
    {% endblock %}

    <!--<table>
    <thead>
        <tr>
            <th>Games!</th>
        </tr>
    </thead>
    <tbody>
        {% for res in response %}
        <tr>
            <td>{{ res["name"] }}</td>
            <td><img src="{{ res['box_art'] }}" alt="{{ res['name'] }} box art"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
->